* { 
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #f8f1ff, #ead7ff);
    color: #2e103d;
}

/* HEADER */

header{
      background-color: white;
      padding: 22px 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #d6b4ff;
}

header h1{
         color: #4b1d67;
         margin: 0;
         font-size: 24px;
         font-weight: 700;
}

nav{
    display: flex;
    gap: 28px;
}

nav a{
    color: #2e103d;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

nav a:hover{
     color: #7b2cbf;   
}

/* HERO */

.hero{
     max-width: 1200px;
     margin: 40px auto;
     position: relative;
}

.hero img{
       width: 100%;
       height: 460px;
       object-fit: cover;
       border-radius: 24px;
}

.hero-text{
        position: absolute;
        top: 50%
        left: 7%
        transform: translateY(-50%);
        color: white;
}

.hero-text h2{
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 20px;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

/* BUTTONS */

.button,
button{
     background-color: #6d2c91;
     color: white;
     padding: 14px 28px;
     border-radius: 30px;
     border: none;
     text-decoration: none;
     font-weight: 600;
     display: inline-block;
     cursor: pointer;
}

.button:hover,
button:hover{
       background-color: #9b4dcc;
}


/* SECTIONS */


section{
    padding: 40px
}

.section-title,
.page-title h2{
      text-align: center;
      font-size: 42px;
      color: #4b1d67;
      margin-bottom: 10px
}

/* ABOUT */

.two-column{
     max-width: 1200px;
     margin: 70px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 45px;
}

.two-column article,
.two-column figure,
.two-column form {
    flex: 1;
}

.two-column h2{
        font-size: 36px;
        color: #4b1d67;
}

.two-column p{
           font-size: 16px;
           line-height: 1.7;
}

.two-column img{
     width: 100%;
     height: 350px;
     object-fit: cover;
     border-radius: 24px;
}


/* SERVICES */

.service-section{
    max-width: 1200px;
    margin: 70px auto;
}

.cards{
       display: flex;
       justify-content: center;
       gap: 28px;
       flex-wrap: wrap;
}

.card{
       background-color: white;
       width: 210px;
       padding: 14px;
       border-radius: 22px;
       text-align: center;
       box-shadow: 0 4px 18px rgba(75, 29, 103, 0.12);
} 

.card img{
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 18px;
}

.card h3,
figcaption {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #4b1d67;
}

.card p{
     font-size: 13px;
     line-height: 1.5;
}

.price{
    background-color: #6d2c91;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
}


/* GALLERY */

.gallery{
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
}

.gallery figure{
            background-color: white;
            padding: 10px;
            border-radius: 18px;
            box-shadow: 0 4px 12px rgba(75, 29, 103, 0.12 );
}

.gallery img{
            width: 100%;
            height: 10px;
            object-fit: cover;
            border-radius: 14px;
}

figure{
     margin: 0;
}


/* FORMS */

form{
     background-color: white;
     padding: 30px;
     border-radius: 22px;
     box-shadow: 0 4px 18px rgba(75, 29, 103, 0.12);
     display: flex;
     flex-direction: column;
     gap: 15px;
}

input,
select,
textarea{
        padding: 14px;
        border: 1px solid #d6b4ff;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
}

textarea{
        height: 120px;
}

/* CENTER */

.center{
       text-align: center;
       margin: 30px
}

/* FOOTER */

footer{
      background-color: white;
      color: #4b1d67;
      border-top: 2px solid #e0c8ff;
      padding: 50px 80px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

footer section{
      padding: 0;
}

/* MOBILE */

@media screen and (max-width: 768px){
       header,
       .two-column,
        footer{
               flex-direction: column;
               text-align: center;
        }

  nav {
      flex-direction: column;
       gap: 12px;
       margin-top: 15px ;
  }
    

  .hero-text{
        position: static;
        color: #4b1d67;
        text-align: center;
        margin-top: 20px;
        transform: none;
  }

  .hero-text h2{
         font-size: 32px;
         text-shadow: none:
  }

 .hero img{
         height: 280px;
 }

 .gallery{
     grid-template-columns: 1fr;
 }  

  
